body {
    padding: 0;
    margin: 0;
    overflow: visible;
    background-image: url("../public/bg.jpg");
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
}
* {
text-transform: capitalize;

}